body {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow: hidden;
}

/* HEADER */

header {
    width: 13%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 8px 0px 11px -10px rgb(207, 207, 207);
}

header img {
    width: 90%;
    cursor: pointer;
}

header ul {
    width: 100%;
    margin: 0;
    padding: 0;
}


header li {
    width: 100%;
    list-style: none;
    cursor: pointer;
}

header .active {
    border-left: 7px solid var(--main);
}

header .active a {
    color: var(--main)
}

header li:hover a {
    color: var(--main);
}

header a {
    width: 100%;
    text-decoration: none;
    color: var(--text2);
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.1em 2em;
    margin: 0;
}

header i {
    margin-right: 1em;
}

main {
    padding: 2em;
    width: 87%;
    height: 100%;
    overflow-y: scroll;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

th {
    color: var(--main);
    padding: 0.5em 0;
    cursor: pointer;
    user-select: none;
}

th i {
    visibility: hidden;
    margin-left: 0.5em;
}

th:hover {
    background-color: #e8e8e8;
}

.select {
    background-color: #e8e8e8;
}

.select i {
    visibility: visible;
}

tr {
    border-bottom: 2px solid #e8e8e8;
}

tbody tr:hover {
    background-color: #e8e8e8;
}

td {
    text-align: center;
    padding: 0.3em 0;
}

tr>td:first-of-type {
    padding-left: 1em;
    text-align: left;
    color: var(--main);
    font-weight: 500;
}